/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: yellow;
}

header {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: yellow;
}

nav {
    display: flex;
    justify-content: space-between; /* Add space between logo and other items */
    align-items: center;
    background-color: #333;
    padding: 10px 20px; /* Add padding to the left and right */
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}

a:hover {
    border-bottom: 2px solid yellow;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.branch {
    margin: 20px;
    text-align: center;
    width: 100%;
}

.branch img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.branch img:hover {
    transform: scale(1.1);
}
